.container {
/*     padding-left: 6em;
    padding-right: 6em; */
}

body {
	border: 10px solid #002341;
  font-family: 'texgyreheros';
}

*:focus {
    outline: 0;
}


.color-base-font {
	color: $base-font-color;
}

.color-accent {
	color: $accent-color;
}