extends layout

block title
  title Accarda Home Page

block content
  .body--index
    section.entry-spotlight-wrapper
      .container
        .row
          .col-xs-12
            include ../components/modules/entry-spotlight.html
    section.entry-roll-wrapper
      .container
        .row
          .col-xs-12.col-sm-8.col-md-9
            include ../components/modules/entry.html
            include ../components/modules/entry.html
            include ../components/modules/entry.html
            include ../components/modules/entry.html
            include ../components/modules/entry.html
          
          .col-xs-12.col-sm-4.col-md-3.right-sidebar
            include ../components/modules/entry-sidebar.html
            include ../components/modules/entry-sidebar.html
        .row
          .col-xs-12.pagination-wrapper
            include ../components/modules/pagination.html