extends layout

block title
  title Mitmachen

block content
  .body--mitmachen
    section.record-spotlight-wrapper
      .container
        .row
          .col-xs-12.
            <article class="record">
              <div class="row">
                <div class="col-md-8 col-md-push-2">
                  <div class="record-thumbnail record-thumbnail">
                    <img src="http://lorempixel.com/400/400" alt="">
                  </div>

                  <header class="record-header text-center">
                    <h2 class="record-title">
                      Mitmachen
                    </h2>
                  </header>

                  <div class="record-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>
                    <p>Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>
                  </div>
                </div>
              </div>
            </article>

    section.record-footer-wrapper
      .container
        .row
          .col-xs-12
            h2.section-header.text-center So einfach geht‘s!
          
          .col-xs-12.col-sm-6.
            <article class="record">
              <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                  <div class="record-thumbnail record-thumbnail-small">
                    <img src="http://lorempixel.com/400/400" alt="">
                  </div>

                  <header class="record-header text-center">
                    <h2 class="record-title">
                      Neuen Beitrag verfassen 
                    </h2>
                  </header>

                  <div class="record-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>

                    <a href="" class="read-more-link">Jetzt Lesen  <span class="icon-ico-chevron"></a>
                  </div>
                </div>
              </div>
            </article>

          .col-xs-12.col-sm-6.
            <article class="record">
              <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                  <div class="record-thumbnail record-thumbnail-small">
                    <img src="http://lorempixel.com/420/420" alt="">
                  </div>

                  <header class="record-header text-center">
                    <h2 class="record-title">
                      Einen Beitrag komentieren 
                    </h2>
                  </header>

                  <div class="record-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>

                    <a href="" class="read-more-link">Jetzt Lesen  <span class="icon-ico-chevron"></a>
                  </div>
                </div>
              </div>
            </article>