.archive-header {
  
}

.archive-title {
  margin-top: 0;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $base-font-color;
  color: $base-font-color;
  font-weight: bold;
  text-transform: uppercase;
}