.comment-wrapper {
  display: block;
  padding-top: 3rem;
}

.comment-wrapper #comments, {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $base-font-color;
  color: $base-font-color;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.commentlist {
  list-style: none;
  padding-left: 0;

  .children {
    list-style: none;
  }
}

.avatar {
  display: none;
}

.comment-body {
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid $paper-grey;
}

.comment-header {
  color: $base-font-color;
}

.comment-author {
  color: $base-font-color;
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.comment-metadata {
  font-style: italic;
  font-size: 0.9em;
}

.comment-content {
  color: $base-font-color;
  font-size: 1.2rem;
  line-height: 1.8;
}

.comment-reply-link {
  color: $accent-color;
  font-size: 0.8em;
  text-transform: uppercase;
}

#respond {
  padding-top: 2rem;

  h3 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $base-font-color;
    color: $base-font-color;
    font-size: 1.6rem;
    font-weight: 700;
  }

  #commentform {
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      margin: 1rem 0px;
      padding: 1.6rem 2rem;
      border: 1px solid rgb(244, 244, 244);
      background: rgb(244, 244, 244) none repeat scroll 0% 0%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) inset;
      transition: 0.1s all ease-in-out;

      &:focus {
        border: 1px solid rgb(204, 204, 204);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15) inset;
      }
    }
  }

  #submit {
    position: relative;
    float: right;
    color: $accent-color;
    background: none;
    border: none;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  #submit::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 15px;
    background: url("../images/decoration-like-btn.png");
    background-size: 100% 100%;
  }
}

