.entry {
	position: relative;
	border-bottom: 1px solid $navy-blue;
	margin-bottom: 1em;

	&:last-of-type {
		border-bottom: none;
	}
}

.entry-header {
	.entry-title-link {
		color: $base-font-color;
		transition: 0.2s all ease-in-out;

		&:hover {
			color: lighten($base-font-color, 20%);
			text-decoration: none;
			transition: 0.1s all ease-in-out;
		}

		&:active,
		&:focus {
			color: darken($base-font-color, 20%);
		}
	}
}

.entry-body {
	padding-bottom: 2rem;
}

.entry-title {
	margin: 1rem 0 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.2em;
}

.entry-thumbnail {
	margin-bottom: 2rem;

	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
} 

.read-more-link {
	display: block;
	margin-top: 1.6em;
	color: $accent-color;
	text-transform: uppercase;
	transition: 0.2s all ease-in-out;
    text-align: center;

 	@include breakpoint(small) {
	    text-align: left;
	}

	&:hover {
		color: lighten($accent-color, 20%);
		text-decoration: none;
		transition: 0.1s all ease-in-out;
	}

	&:active,
	&:focus {
		color: darken($accent-color, 20%);
	}
}

.entry-sidebar {
/* 	padding-bottom: 3em; */

	.read-more-link {
	    text-align: center;

	 	@include breakpoint(small) {
		    text-align: right;
		}
	}
}

.entry.entry-spotlight {
	border-bottom: 1px solid $navy-blue;

	.entry-body {

		@include breakpoint(small) {
			position: absolute;
			padding-top: 2rem;
			top: 0;
			right: 5%;
			background: white;
		}
	}
}




.entry-content,
.post-content {
	h1, h2, h3, h4, h5, h6 {
		color: $accent-color;
	}

	p, li {
		color: $base-font-color;
		line-height: 1.5;
	}

	a {
		color: $accent-color;
		transition: 0.2s all ease-in-out;

		&:hover {
			color: lighten($accent-color, 10%);
			transition: 0.1s all ease-in-out;
		}
		&:active,
		&:focus {
			color: darken($accent-color, 10%);
			transition: 0.1s all ease-in-out;
		}
	}
}

.entry-content {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.45rem;
	}
	h5 {
		font-size: 1.32rem;
	}
	h6 {
		font-size: 1.2rem;
	}

	blockquote {
		font-size: 1.5rem;
	}
}

.post-content {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.6rem;
	}
	h3 {
		font-size: 2.2rem;
	}
	h4 {
		font-size: 1.85rem;
	}
	h5 {
		font-size: 1.55rem;
	}
	h6 {
		font-size: 1.3rem;
	}
	blockquote {
		font-size: 1.5rem;
	}
}


img.alignright,
figure.alignright {
	float:right; 
	margin:0 0 1.4em 1.4em;
	text-align: right;
}
img.alignleft,
figure.alignleft {
	float:left; 
	margin:0 1.4em 1.4em 0;
}
img.aligncenter,
figure.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
    text-align: center;
}
a img.alignright,
a figure.alignright {
	float:right; 
	margin:0 0 1.4em 1.4em;
	text-align: right;
}
a img.alignleft,
a figure {
	float:left; 
	margin:0 1.4em 1.4em 0;
}
a img.aligncenter,
a figure.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
    text-align: center;
}

figure figcaption {
	color: $accent-color;
	font-style: italic;
}

mark {
    background: lighten($accent-color, 50%);
    color: $base-font-color;
    }