#site-header {

	.wrapper {
		background: white;
	}
}

#header-logo {
	display: block;
  width: 50%;
  max-width: 24rem;
	margin: 1em auto 0;

 	@include breakpoint(small) {
 		max-width: 28rem;
	  margin-bottom: 5rem;
		width: 100%;
	}

 	@include breakpoint(large) {
 		margin-bottom: 7rem;
    margin-top: 4rem;
	}

}

.navbar {
 	@include breakpoint(medium) {
 		margin-bottom: 30px;
	}
}

.navbar-toggle {
	margin-right: 0;
}

#header-navbar {
	padding: 0;
	border-top:  1px solid black;
	border-bottom: 1px solid black;

 	@include breakpoint(small) {
		border-top:  none;
	}

	.navbar-right {
		margin-right: 0;
	}

	.navbar-nav {
		margin: 7.5px 0;
	 	
	 	@include breakpoint(medium) {
		    margin: 7.5px -15px;
		}

		 	@include breakpoint(large) {	
		    margin: 7.5px -25px;
			}
	}
 
	.navbar-nav > li > a {

	    text-transform: uppercase;
	    color: black; 
	    transition: 0.2s all ease-in-out;
		  font-size: 1rem;

		 	@include breakpoint(small) {	
				padding: 10px 15px;
			}

		 	@include breakpoint(medium) {	
		  	font-size: 1.4rem;
			}

		 	@include breakpoint(large) {	
				padding: 10px 25px;
			}

	}

    .nav > li > a:hover, 
    .nav > li > a:focus {
			color: $accent-color;
			background: none; 
			transition: 0.2s all ease-in-out;
    }
}

.mobile-menu-label {
 	text-transform: uppercase;
 	color: $accent-color;
}