.pagination-container {
  text-align: center;
}

.pagination-label {
  margin-bottom: 0;
  color: $base-font-color;
  text-transform: uppercase;
}

.page-numbers {
  display: inline-block;
  padding-left: 0;
  margin: 1rem 0 2rem;
  list-style: none;
}

.page-numbers > li {
  display: inline-block;
  margin: 0 -1px;
}

.page-numbers > li > a, 
.page-numbers > li > span {
  width: 3.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  background: $paper-grey;
  color: $base-font-color;
  transition: 0.1s all ease-in-out;
}

.page-numbers > li > a:hover, 
.page-numbers > li > a:focus, 
.page-numbers > li > span:hover, 
.page-numbers > li > span:focus {
  background: darken($paper-grey,10%);
  color: white;
  text-decoration: none;
}

.page-numbers > li > .current, 
.page-numbers > li > .current:hover, 
.page-numbers > li > .current:focus {
  color: white;
  background: $accent-color;
}

.page-numbers > li:first-child > a, 
.page-numbers > li:first-child > span,
.page-numbers > li:last-child > a, 
.page-numbers > li:last-child > span {
  border-radius: 0;
}