.post {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.post-featured-image-wrapper {
  display: block;
  margin-bottom: 4rem;

  .post-featured-image {
    width: 100%;
    height: auto;
  }
}

.post-body {
  .post-header {

  }

  .post-title {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: $base-font-color;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid $base-font-color;
  }

  .post-content {
    margin: 2rem 0 4rem;
    line-height: 1.8;
  }

  .post-attachment-wrapper {
    margin: 3rem 0;
    padding: 1rem 0;
    border-top: 1px solid $base-font-color;
    border-bottom: 1px solid $base-font-color;

    .media-heading {
      display: inline-block;
      margin: 0 0 0 1rem;
      font-size: 1.4rem;
      color: $accent-color;
      transition: 0.2s all ease-in-out;
    }

    a:hover .media-heading {
        color: lighten($accent-color, 20%);
        transition: 0.1s all ease-in-out;
        text-decoration: none;
    }

    .dashicons {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      color: $base-font-color;
    }
  }
}

.post-meta-info {
  padding-bottom: 0.5em;

  a {
    color: $accent-color;
    transition: 0.2s all ease-in-out;

    &:hover {
      color: lighten($accent-color, 20%);
      transition: 0.1s all ease-in-out;
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: darken($accent-color, 20%);
      transition: 0.1s all ease-in-out;
    }
  }
}