<section class="comment-wrapper">
  <header>
    <h3 class="comment-wrapper-title">7 Kommentare</h3>
  </header>
  
  <div class="comment-body">
    <ol class="comment-list">
      <li class="comment">
        <header class="comment-header">
          <h5 class="comment-title">Mark Kraus</h5>
          <p class="comment-meta-info">
            <span class="date">30 April 2015</span>
          </p>
        </header>

        <div class="comment-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>

        <footer>
          <div class="reply">
            <a href="" class="reply-link btn btn-accarda">Antworten</a>
          </div>  
        </footer>
      </li>

      <li class="comment">
        <header class="comment-header">
          <h5 class="comment-title">Mark Kraus</h5>
          <p class="comment-meta-info">
            <span class="date">30 April 2015</span>
          </p>
        </header>

        <div class="comment-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>

        <footer>
          <div class="reply">
            <a href="" class="reply-link btn btn-accarda">Antworten</a>
          </div>  
        </footer>

        <ul class="children">
          <li class="comment">
            <header class="comment-header">
              <h5 class="comment-title">Mark Kraus</h5>
              <p class="comment-meta-info">
                <span class="date">30 April 2015</span>
              </p>
            </header>

            <div class="comment-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </div>

            <footer>
              <div class="reply">
                <a href="" class="reply-link btn btn-accarda">Antworten</a>
              </div>  
            </footer>
          </li>
        </ul>
      </li>
    </ol>


  <div class="comment-respond">
    <h3 class="comment-respond-title">Was ist Deine Meinung?</h3>

    <div action="" class="comment-form">
<!--       <div class="comment-form-input">
        <input id="email" name="email" value="" type="email">
      </div>

      <div class="comment-form-input">
        <input id="author" name="author" value="" type="text">
      </div>

      <div class="comment-form-input">
        <input id="url" name="url" value="" type="text">
      </div> -->

      <div class="comment-form-input">
        <textarea style="" placeholder="Kommentar" id="comment" name="comment" title="Kommentar" rows="4"></textarea>
      </div>
      
      <p style="display: block;" class="form-submit">
        <input name="submit" id="comment-submit" class="submit btn btn-accarda" value="Kommentar senden" type="submit">
      </p>
    </div>
  </div>

</section>