<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../assets/images/holding-hands.svg" class="decoration-holding-hands">
        <p class="motto">Together for our future</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <ul class="list-inline social-links">
          <li><div class="social-link-label">Folgt uns:</div></li>
          <li><a href="" class="social-link"><span class="icon-linkedin2"></span></a></li>
          <li><a href="" class="social-link"><span class="icon-ico-arrow"></span></a></li>
          <li><a href="" class="social-link"><span class="icon-ico-a"></span></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <ul class="list-inline footer-links">
          <li class="footer-link"><a href="">Staertseite</a></li>
          <li class="footer-link"><a href="">Mitmachen</a></li>
          <li class="footer-link"><a href="">Redaktion</a></li>
          <li class="footer-link"><a href="">Kontakt</a></li>
          <li class="footer-link"><a href="">Impressum</a></li>
        </ul>
        <p class="copyright">&copy; 2015 Accarda AG, Alle Rechte vorbehalten </p>
      </div>
    </div>
  </div>


</footer>