<article class="record">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<div class="record-thumbnail record-thumbnail-small">
				<img src="http://lorempixel.com/400/400" alt="">
			</div>

			<header class="record-header text-center">
				<h2 class="record-title">
					Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.
				</h2>
				<p class="record-subtitle">
					Lorem ipsum dolor sit.
				</p>
			</header>

			<div class="record-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>

				<a href="" class="read-more-link">Jetzt Lesen</a>
			</div>
		</div>
	</div>
</article>

<article class="record">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<div class="record-thumbnail record-thumbnail-small">
				<img src="http://lorempixel.com/400/400" alt="">
			</div>

			<header class="record-header text-center">
				<h2 class="record-title">
					Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.
				</h2>
				<p class="record-subtitle">
					Lorem ipsum dolor sit.
				</p>
			</header>

			<div class="record-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quaerat facere sunt qui dolor doloremque vel cupiditate repellat temporibus cumque nesciunt tenetur assumenda odit, itaque obcaecati tempora suscipit iste deserunt hic eveniet dolorem perferendis sapiente. Saepe cum veniam perferendis at blanditiis, nihil neque minus eaque consequuntur laboriosam earum tempore, a magnam, placeat dicta praesentium ea similique commodi ut.</p>

				<a href="" class="read-more-link">Jetzt Lesen</a>
			</div>
		</div>
	</div>
</article>