extends layout

block title
  title Seite

block content
  .body--seite
    section.page-content
      .container
        .row
          .col-xs-12.col-sm-8.col-md-9
            include ../components/modules/post.html

            include ../components/modules/shortcut-buttons.html
            include ../components/modules/comments.html
          
          .col-xs-12.col-sm-4.col-md-3.right-sidebar
            include ../components/modules/entry-sidebar.html
            include ../components/modules/entry-sidebar.html